<h1>Enter Your Parcel Info</h1>
<form action="/parcel" method="post">

  <label for="width">Enter your width</label>
  <input id="width" name="width" type="number">

  <label for="length">Enter your length</label>
  <input id="length" name="length" type="number">

  <label for="height">Enter your height</label>
  <input id="height" name="height" type="number">

  <label for="weight">Enter your weight</label>
  <input id="weight" name="weight" type="number">

  <button type="submit">Submit</button>
</form>
